
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


#root {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}


.app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}


main {
  flex: 1;
  width: 100%;
}

body,
html {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100vh;
  overflow-x: hidden;
}